services:
  - name: "aws-ecs-web"
    type: "json"
    description: "AWS ECS application logs in JSON format"
    # Using specific patterns for date handling in code
    path_pattern: "var_log/syslog/{YYYY}/{MM}/{DD}/application_logs/web-server/**/*.log"
    path_date_formats: ["{YYYY}", "{MM}", "{DD}"] 
  
  - name: "pylons-app"
    type: "syslog"
    description: "Pylons web server logs in Syslog format"
    path_pattern: "var_log/ecs/{YYYY}/{MM}/{DD}/web-server.log"
    path_date_formats: ["{YYYY}", "{MM}", "{DD}"]

  - name: "aws-ses"
    type: "json"
    description: "AWS SES mail logs in JSON format"
    path_pattern: "var_log/ses/{YYYY}/{MM}/{DD}/SES/**/*.log"
    path_date_formats: ["{YYYY}", "{MM}", "{DD}"]
